@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color: #eee;
}

ul {
  list-style: none;
}

button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.active,
.active:hover {
  color: #eee;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

main {
  padding: 6rem;
}

a {
  color: inherit;
  text-decoration: none;
}
